<section class="main-header">
<img src="<%= asset_path "IMO.png" %>">
</section>
<section class="about">
<h1>About IMO</h1>
<p>
IMO（Insight Marketing Observatory）とはインサイトマーケティング観測所の略称で、<br>
世界中で行われている基礎研究を社会に応用する活動を目的として設立された機関である。
</p>

</section>

<section class="function">
  <div class="row">
    <h2>Function</h2>
      <div class="col-md-3 col-sm-6">
        <img src="<%= asset_path "key.png" %>">
        <p>Login</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="<%= asset_path "mails.png" %>">
        <p>Mail</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="<%= asset_path "man.png" %>">
        <p>SNS</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="<%= asset_path "comment.png" %>">
        <p>Comment</p>
      </div>
  </div>
</section>



<footer>
  <p>運営団体 インサイトマーケティング観測所</p>
  <p>© 2011-2016 Insight Marketing Observatory</p>
</footer>